doctype html
html
	head
		include header
	body
		.main_block
			.header_block
				.menu_block
					.logo
						a(href='/') DD:A|D
						span= ' | '
						a(href='/admin') STARGAZER
					a(href='/admin/users') ПОЛЬЗОВАТЕЛИ
					a(href='/admin/works') РАБОТЫ
					a(href='/admin/publications') ПРЕССА
					a(href='/admin/peoples') КОМАНДА
					a(href='/admin/partners') ПАРТНЕРЫ
					a(href='/admin/cv') CV
				.sub_menu_block
					block sub_menu
			.content_block
				block content