extends ../layout

block header_meta
	- var content_title= 'DD:A|D / about / bio'
	//- - var content_description= __('')
	- var about = 'bio'

block header_include
	- var include_css = ['about.css', 'bio.css']
	- var include_js = ['bio.js']

block content
	.bio_content!= content