extends ../layout

block header_meta
	- var content_title= 'DD:A|D / about / contacts'
	//- - var content_description= __('')
	- var about = 'contacts'

block header_include
	- var include_css = ['about.css', 'contacts.css']
	- var include_js = ['contacts.js']

block content
	.contacts_block
		.column.poster
		.column.body!= content