extends ../layout

block header_meta
	- var content_title= 'DD:A|D / about / geo'
	//- - var content_description= __('')
	- var about = 'geo'

block header_include
	- var include_css = ['about.css', 'geo.css']
	- var include_ext_js = ['https://maps.googleapis.com/maps/api/js?key=AIzaSyDkYtYSwgwQv4VBF09g2tx9YL5tkZNuLC8&language=' + locale]
	- var include_js = ['geo.js']

block content
	.locations_block
		each location in locations
			.location_item(data-lat=location.lat, data-long=location.long, data-id=location.work_id, data-name=location.num + ' - ' + location.work)

	.map_block#map-canvas(data-placeholder='Moscow Manege')