extends ../layout

block header_meta
	- var content_title= 'DD:A|D / about / geo'
	//- - var content_description= __('')
	- var about = 'geo'

block header_include
	- var include_css = ['about.css', 'geo.css']
	- var include_ext_js = ['https://maps.googleapis.com/maps/api/js?key=AIzaSyDl2ZH-7ytdj6xMslwj_V98SFIc0tynMm4&language=' + locale]
	- var include_js = ['geo.js']

block content
	.map_block#map-canvas(data-placeholder='Moscow Manege')