extends ../layout

block header_meta
	- var content_title= 'DD:A|D / about / geo'
	//- - var content_description= __('')

block header_include
	- var include_css = ['about.css', 'geo.css']
	- var include_js = ['geo.js']

block content
	h1 geo!