extends ../layout

block header_meta
	- var content_title= 'DD:A|D / about / partners'
	//- - var content_description= __('')

block header_include
	- var include_css = ['partners.css']
	- var include_js = ['partners.js']

block content
	h1 partners!