extends ../layout

block header_meta
	- var content_title= 'DD:A|D / about / press'
	//- - var content_description= __('')
	- var about = 'press'

block header_include
	- var include_css = ['about.css', 'press.css']
	- var include_js = ['press.js']

block content
	.press_block
		each publication in publications
			a.publication_item(href=publication.attach ? publication.attach : publication.link, target='_blank')
				.publication_logo(style='background-image: url(' + publication.poster + ')')
				.publication_title= publication.i18n.title.get(locale)
				.publication_s_title= publication.i18n.title.get(locale)
				.publication_year= publication.year