extends ../layout

block header_meta
	- var content_title= 'DD:A|D / about / press'
	//- - var content_description= __('')
	- var about = 'press'

block header_include
	- var include_css = ['about.css', 'press.css']
	- var include_js = ['press.js']

block content
	h1 press!