extends ../layout

block header_meta
	- var content_title= 'DD:A|D / about / team'
	//- - var content_description= __('')

block header_include
	- var include_css = ['about.css', 'team.css']
	- var include_js = ['team.js']

block content
	h1 team!