extends ../layout

block header_meta
	- var content_title= 'DD:A|D / about / team'
	//- - var content_description= __('')
	- var about = 'team'

block header_include
	- var include_css = ['about.css', 'team.css']
	- var include_js = ['team.js']

block content
	.members_block
		each people in peoples
			if people.status !== 'special'
				.member_item(class=people.status)
					.member_name= people.i18n.name.get(locale)
					.member_role= __(people.type)
					//- .member_projects
					//- 	each project, i in new Array(randInt(3, 6))
					//- 		a.project_num(href='#')= randInt(1, 65)