doctype html
html
	head
		include header
	body
		.title_block
			a.logo_block(href='/') DD:A|D
			.menu_block
				.menu_open
				.menu_items
					a(href='/about') ABOUT
					a(href='/lang/ru') RU

		.content_block
			block content

		.footer_block
		include counters