doctype html
html
	head
		include header
	body
		.title_block
			a.logo_block(href='/') DD:A|D
			.menu_block
				if about
					.menu_about
						a(href='/about/bio', class=(about == 'bio' ? 'active' : '')) bio
						a(href='/about/contacts', class=(about == 'contacts' ? 'active' : '')) contacts
						a(href='/about/team', class=(about == 'team' ? 'active' : '')) team
						a(href='/about/geo', class=(about == 'geo' ? 'active' : '')) geo
						a(href='/about/partners', class=(about == 'partners' ? 'active' : '')) partners
						a(href='/about/press', class=(about == 'press' ? 'active' : '')) press
				.menu_items
					if (session && session.user_id)
						a(href='/admin') STARGAZER
						if edit_work
							a(href='/admin/works/edit/' + edit_work, target='_blank') EDIT
						a(href='/auth/logout') EXIT
					a(href='/about') ABOUT
					if locale == 'ru'
						a.lang.en(href='/lang/en') EN
					else
						a.lang.ru(href='/lang/ru') RU

		.content_block
			block content

		.footer_block
			.footer_left
				a(href='/')!= '&copy; ' + new Date().getFullYear() + ' DDAD'
			.footer_right PRIVACY
		include counters