extends layout

block header_meta
	- var content_title= 'Work'
	- var content_description = ''
	- var content_images = [work.poster]

block header_include
	- var include_libs_css = ['swiper.min.css']
	- var include_css = ['work.css']
	- var include_libs_js = ['swiper.jquery.min.js']
	- var include_js = ['work.js']

block content
	h1 work!