extends layout

block header_meta
	- var content_title= 'Work'
	- var content_description = ''
	- var content_images = [work.poster]

block header_include
	- var include_libs_css = ['swiper.min.css']
	- var include_css = ['work.css']
	- var include_libs_js = ['swiper.jquery.min.js']
	- var include_js = ['work.js']

block content

	.column.left
		.project_images
			each image in images
				.image(class='size_' + image.size)
					- var description = image.description.filter(function(lang) { return lang.lg == locale })
					img(src=image.thumb)
					.title: span= description.length ? description[0].value : ''

	.column.right
		.project_title
			span.num= work.num
			span.title= work.i18n.title.get(locale)

		.project_meta
			.meta_item
				.item_title: span Year
				.item_value: span= work.year
			.meta_item
				.item_title: span Program
				.item_value: span= work.i18n.program.get(locale)
			.meta_item
				.item_title: span Аrea
				.item_value: span= work.i18n.area.get(locale)
			.meta_item
				.item_title: span Status
				.item_value: span= work.i18n.build_status.get(locale)
			.meta_item
				.item_title: span Client
				.item_value: span= work.i18n.client.get(locale)
			//- .meta_item
			//- 	.item_title: span Location
			//- 	.item_value: span= work.i18n.location.get(locale)
			.meta_item
				.item_title: span Team
				.item_value: span Name Name Name Name
			.meta_item
				.item_title: span Partners
				.item_value: span Partner Partner Partner Partner


		.project_description= work.i18n.description.get(locale)