@font-face {
	font-family: 'HelveticaNeue Roman';
	src: url('/libs/fonts/HelveticaNeueCyr-Roman.otf');
}

@font-face {
	font-family: 'HelveticaNeue Bold';
	src: url('/libs/fonts/HelveticaNeueCyr-Bold.otf');
}