.contacts_block
	overflow hidden
	max-width 1000px
	margin 0 auto
	.column
		width 50%
		float left
		&.poster
			background-color lightgrey
			padding-bottom 50%
		&.body
			padding-left 20px
			box-sizing border-box
			font-family 'HelveticaNeue Roman'
			font-size 12pt
			line-height 14pt