@import '_fonts.styl'
@media screen and (max-width: 680px)
	@import 'mobile/_global.styl'

body
	margin 0
	padding 0
	font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

.title_block
	width 100%
	position fixed
	padding 20px
	padding-top 18px
	padding-bottom 15px
	box-sizing border-box
	z-index 9999
	// background-color rgba(237, 70, 47, 0.5)
	background-color white
	height 50px

.logo_block
	float left
	color black
	text-decoration none
	font-family 'HelveticaNeue Roman'
	font-size 12pt
	line-height 14pt
	&:hover
		border-bottom 2px solid black

.menu_block
	display flex
	justify-content space-between
	// float right
	a
		font-family 'HelveticaNeue Roman'
		font-size 12pt
		line-height 14pt
		text-decoration none
		color black
		text-align right
		margin-left 20px
		&:hover
			border-bottom 2px solid black
	.menu_items
		flex 2
		// background-color grey
		text-align right
	.menu_about
		flex 3
		top 20px
		// background-color green
		text-align right
		a
			margin-left 0
			text-transform uppercase
			&.active
				font-family 'HelveticaNeue Bold'
			&:after
				content '/'
				margin-left 5px
				margin-right 5px
			&:last-child:after
				content ''
				margin-left 0
				margin-right 0

.footer_block
	z-index 9999999
	position fixed
	width 100%
	box-sizing border-box
	bottom 0
	background-color white
	font-family 'HelveticaNeue Bold'
	font-size 10pt
	line-height 12pt
	padding 20px
	padding-top 15px
	padding-bottom 15px
	a
		color black
		text-decoration none
		&:hover
			border-bottom 2px solid black
	.footer_left
		float left
	.footer_right
		float right
		a
			margin-left 10px