@media screen and (max-width: 680px)
	@import 'mobile/_main.styl'

body
	margin 0

.content_block
	padding 20px
	padding-top 60px
	z-index 1
	position absolute

.poster
	width 100%
	height 100%
	z-index 0
	position absolute
	background-position center
	background-size 30%
	background-repeat no-repeat
	opacity 0.5

.directions
	margin-top 40px
	text-align justify
	&:after
		content ''
		display inline-block
		width 100%
	.d_item
		// margin-right 40px
		display inline-block
		font-family 'HelveticaNeue Roman'
		// &:last-child
		// 	margin-right 0
		a
			text-decoration none
			color black
			font-size 12vw
			line-height 8.5vw
			// font-size 140pt
			// line-height 100pt
			font-family 'HelveticaNeue Bold'
		.title
			text-align center
			font-size 12pt
			line-height 14pt
			background-color black
		&.hover
			.title
				color lightgrey
				background-color lightgrey
			a
				color lightgrey
		&.select
		&:hover
			.title
				background-color transparent

.projects
	text-align left
	margin-top 20px
	.p_item
		display inline
		font-family 'HelveticaNeue Roman'
		font-size 14pt
		line-height 20pt
		margin-right 15px
		&.special
			pointer-events none
			a
				color lightgrey
		a
			text-decoration none
			color black
			&:hover .title
				border-bottom 2px solid black
			.num
				font-size 12pt
				padding-right 15px
			.title
				font-family 'HelveticaNeue Bold'
		&.hover
			a
				pointer-events none
				color lightgrey