.partners_block
	margin-left -20px
	margin-right -20px
	font-family 'Helvetica Neue'
	max-width 400px
	margin 0 auto
	// background-color grey
	.partner_item
		display inline-block
		vertical-align top
		width 50%
		margin-right -4px
		padding-left 20px
		padding-right 20px
		box-sizing border-box
		margin-bottom 60px
		text-decoration none
		&.size_2x
			width 100%
		// background-color grey
		.partner_logo
			// background-color red
			width 100%
			padding-bottom 50%
			background-position center
			background-size contain
			background-repeat no-repeat
		.partner_title
			text-align center
			color black
			margin-top 10px
		&.out
			opacity 0.5