@media screen and (max-width: 680px)
	@import 'mobile/_work.styl'

.content_block
	padding 20px
	padding-top 80px

.title_block
	position fixed

.column
	width 50%
	&.left
		left 0
		position absolute
	&.right
		right 0
		position absolute
		padding-right 20px
		box-sizing border-box
		&.preview
			top 0
			bottom 0
			padding-top 80px
			padding-right 0
			background-color white
			position fixed
			display none
			overflow hidden
			&.show
				display block


.work_title
	font-family 'HelveticaNeue Roman'
	font-size 28pt
	line-height 30pt
	.num
		margin-right 40px
	.title
		font-family 'HelveticaNeue Bold'

.work_meta
	font-family 'HelveticaNeue Roman'
	font-size 12pt
	line-height 16pt
	margin-top 40px
	margin-bottom 40px
	overflow hidden
	.meta_column
		float left
		width 50%
	.meta_item
		.item_title
			vertical-align top
			display inline-block
			margin-right -5px
			width 30%
			text-transform uppercase
			&:after
				content ':'
		.item_value
			font-weight bold
			vertical-align top
			width 60%
			margin-right -5px
			display inline-block
			.Location_item
				margin-bottom 10px
			.people_type
				font-weight normal
				margin-bottom 10px
			a
				color black
				text-decoration none
				&:after
					content ','
					margin-right 5px
				&:last-child:after
					content ''
					margin-right 0

.work_description
	font-family 'HelveticaNeue Roman'
	font-size 14pt
	line-height 18pt

.work_poster
	display block
	width 100%
	padding-left 20px
	padding-right 20px
	box-sizing border-box
	margin-bottom 40px

.work_video
	width 100%
	margin-bottom 40px
	padding-left 20px
	padding-right 20px
	box-sizing border-box
	.video_inner
		position relative
		padding-bottom 56.25% /* 16:9 */
		padding-top 0px
		height 0
		.video
			position absolute
			top 0
			left 0
			width 100%
			height 100%

.work_images
	margin-bottom 60px
	overflow hidden
	.image_gallery
		position relative
		margin-bottom 40px
		padding-left 20px
		padding-right 20px
		box-sizing border-box
		vertical-align top
		display inline-block
		margin-right -4px
		font-size 0
		&.g_1x
			width 50%
		&.g_2x
			width 100%
		.swiper-container
			position relative
			width 100%
			.swiper-button-next
			.swiper-button-prev
				filter: drop-shadow(0px 0px 1px black);
		.swiper-slide
			width 100%
			.slide_image
				display block
			.slide_description
				padding-top 10px
				padding-bottom 10px
				font-family 'HelveticaNeue Roman'
				font-size 12pt
				line-height 14pt

	.image
		margin-bottom 40px
		font-size 0
		position relative
		width 100%
		vertical-align top
		display inline-block
		margin-right -4px
		padding-left 20px
		padding-right 20px
		box-sizing border-box
		&.size_1x
			width 50%
		&.size_2x
			width 100%
	.image_description
		hyphens auto
		margin-top 20px
		font-family 'HelveticaNeue Roman'
		font-size 12pt
		line-height 18pt
	img
		width 100%